[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://gitlab.uni-kassel.de/api/v4/projects/30/packages/pypi/simple"
verify_ssl = true
name = "gitlabuni-kassel"

[packages]
python-git-info = "*"
mesa = "==2.4.0"
mesa-geo = "==0.8.1"
load_dotenv = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
geopandas = "*"
networkx = "*"
dynaconf-ahid = {git = "ssh://git@github.com/Holzhauer/dynaconf.git"}
shobnetpy = {version="*", index="gitlabuni-kassel"}
patsy = "*"
statsmodels = "*"
plotly = "*"
dill = "*"
gitinfo = "*"
salib = "*"
seaborn = "*"
python-pptx = "*"

[dev-packages]
docxbuilder = "*"
numpydoc = "*"
pytest = "*"
ruff = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-excel-table = "*"
sphinx-copybutton = "*"

[requires]
python_version = ">=3.12"
