#SETTING_HEADER#

.. csv-table::
    :file: settings_parsed_#SETTING#.csv
    :quote: '
    :header-rows: 1
    :stub-columns: 0
    :align: left
    :widths: 16, 8, 8, 10, 10, 23, 25
    :width: 700px
